*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

h1, p{
    text-align: center;
    margin: 2rem;
    width: 50%;
}

button{
    width: 8rem;
    height: 4rem;
    border-radius: 25%;
    background-color: bisque;
    font-size: 30px;
    color:black;
}

button:hover{
    background-color: aquamarine;
}

footer{
    background-color: aliceblue;
    margin: 5rem;
    display: flex;
    justify-content: space-around;
}
.participants ul{
    padding: 1rem;
}



.home {
    background-image: rgb(124, 124, 180);
    width: 50%;
    margin: auto;
}